html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comic Neue', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-item .navLink {
  text-decoration: none;
  color: #263238; 
  margin-left: 20px;
}

.nav-item .navLink:hover {
  color: coral;
}

.content {
  width: 100%;
  height: 75vh;
}

.coral-color {
  background: coral;
}

.blue-color {
  background: cornflowerblue;
}

* {
  box-sizing: border-box;
}

.hero {
  height: 550px;
}

.hero span {
  font-family: 'Montserrat', sans-serif;
}

.hero h2 {
  font-size: 30px;
}

.hero .img-1 {
  margin-top: 20px;
  width: 100%;
  min-width: 280px;
}

.hero .content-1 {
  margin-top: 30px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;  
  color: #263238;  
}

.hero .content-2 p {
  font-size: 22px;
}

.hero .content-2 button {
  background: #FF7324;
  border: 1px solid #445963;
  color: white;
}

.hero .content-2 button:active {
  background: white;
  color:#263238;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.service .card {
  width: 18rem;
  margin: 10px;
}

.service .card-c {
  overflow: hidden;
}

.service .card img {
  transition: all 0.3s;
  opacity: 0.9;
}

.service .card:hover > .card-c img {
  transform: scale(1.1);
  opacity: 1;
}

.erro-404 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.erro-404 .content img {
  width: 100%;
  max-width: 450px;
}
