html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-item .navLink {
  text-decoration: none;
  color: coral;
}

.content {
  width: 100%;
  height: 75vh;
}

.coral-color {
  background: coral;
}

.blue-color {
  background: cornflowerblue;
}

* {
  box-sizing: border-box;
}
